bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.PRReviewAgent/.idea/workspace.xml
.idea/.idea.PRReviewAgent/.idea/indexLayout.xml
.idea/.idea.PRReviewAgent/.idea/projectSettingsUpdater.xml
.idea/.idea.PRReviewAgent/.idea/vcs.xml
PRReviewAgent/.idea/.idea.PRReviewAgent.dir/.idea/encodings.xml
PRReviewAgent/.idea/.idea.PRReviewAgent.dir/.idea/indexLayout.xml
PRReviewAgent/.idea/.idea.PRReviewAgent.dir/.idea/projectSettingsUpdater.xml
PRReviewAgent/.idea/.idea.PRReviewAgent.dir/.idea/vcs.xml
PRReviewAgent/.idea/.idea.PRReviewAgent.dir/.idea/workspace.xml
